*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding: 30px;
  background-color: rgba(0, 255, 221, 0.384);
}
